.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}